# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution
*.egg-info/
dist/
build/

# Testing
.pytest_cache/
.hypothesis/

# Coverage
.coverage
htmlcov/
coverage.xml
*.cover

# Type checking
.mypy_cache/
.dmypy.json
dmypy.json

# Linting
.ruff_cache/

# Environments
.env
.venv
venv/
ENV/

# Application specific
zaptos_campaigns.json
